body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}

.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}



.profile{
  display: flex;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
